body{
    font-family: 'Caveat', cursive;
    background-image: url(https://html.sammy-codes.com/images/background.jpg);
}

.header_div{
    background: whitesmoke;
    color: black;
}

.header_div p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

main_div button{
    font-family: fantasy;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
    border-style: ridge;
}

.copyright{
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: azure;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px black;
}